#navBar {
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    padding: 4px;
    border-radius: 10px;
}

.navOptions {
    margin: 8px;
    padding: 5px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;


}


#select{
    color: #84F85D;
}

.img {
    width: 40%;
    height: 40%;
}

#content {
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    padding: 10px;
    height: 100%;

}

.table{
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;

}


a {
    color: #000000;
 }

 a:visited {
     color: #000000;
 }

 a:hover {
     color: #000000;
 }

 a:active {
     color: #000000;
 }